/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.top {
  &__img {
    height: calc(100vh - 65px);
    object-fit: cover;
  }
}

.release {
  &__inner {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__texts,
  &__img {
    flex-basis: 47%;
  }
}