/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.top {
  &__img {
    height: 100vh;
    object-fit: cover;
  }
}