/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 25px;
}
.font-lg {
  font-size: 30px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.mt-sm {
  margin-top: 16px !important;
}
.mt-lg {
  margin-top: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.pbt {
  padding: 50px 0;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.letter-spacing {
  letter-spacing: 5px;
}
.radius {
  border-radius: 10px;
}
.gold {
  color: $cGold;
}

.container {
  position: relative;
  background-color: $cWhite;
  z-index: 2;
  transition: all 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background-color: $cWhite;
  display: flex;
  align-items: center;
  z-index: 90;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__logo {
    & > a > img {
      height: 45px;
    }
  }
}

.top {
  &__img {
    margin-top: $headerHeight;
    width: 100vw;
    object-fit: contain;
    vertical-align: bottom;
  }
}

.introduction {
  @extend .content-width;
  @extend .mt-sm;
  
  &__inner {
    @extend .radius;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__title {
    font-size: 30px;
    font-weight: 550;
    @extend .letter-spacing;
    padding: 20px 0;
  }
}