/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 25px;
}
.font-lg {
  font-size: 30px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.mt-sm {
  margin-top: 16px !important;
}
.mt-lg {
  margin-top: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.pbt {
  padding: 50px 0;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1150px;
}
.letter-spacing {
  letter-spacing: 5px;
}
.radius {
  border-radius: 10px;
}