/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 25px;
}
.font-lg {
  font-size: 30px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.mt-sm {
  margin-top: 16px !important;
}
.mt-lg {
  margin-top: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.pbt {
  padding: 50px 0;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.letter-spacing {
  letter-spacing: 5px;
}
.radius {
  border-radius: 10px;
}
.gold {
  color: $cGold;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  position: relative;
  background-color: $cWhite;
  z-index: 2;
  transition: all 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background-color: $cWhite;
  display: flex;
  align-items: center;
  z-index: 90;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__logo {
    & > a > img {
      height: 45px;
    }
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;
    
    & > a {
      display: inline-block;
      color: $cBlack;
      text-decoration: none;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $cGold;
        transition: transform 0.3s;
        transform: scale(0, 1);
        transform-origin: left top;
      }
      
      &:hover {
        color: $cGold;

        &::after {
          transform: scale(1, 1);
        }
      }
    }
  }
}

.top {
  &__img {
    margin-top: $headerHeight;
    width: 100vw;
    object-fit: contain;
    vertical-align: bottom;
  }
}

.introduction {
  @extend .content-width;
  @extend .mt-sm;
  
  &__inner {
    @extend .radius;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__title {
    font-size: 30px;
    font-weight: 550;
    @extend .letter-spacing;
    padding: 20px 0;
  }
}

.main-title {
  font-weight: 600;
  @extend .letter-spacing;
}

.member {
  @extend .pbt;

  & .main-title {
    width: 200px;
    color: $cWhite;
    background-color: lightblue;
    text-align: center;
    margin-top: 50px;
  }
  
  &__inner {
    @extend .content-width;
    @extend .flex;
  }

  &__item {
    flex-basis: 48%;
    @extend .mb-sm;
  }
  
  &__img {
    overflow: hidden;
    @extend .radius;
    @extend .mb-sm;
    cursor: pointer;
    
    & .img-zoom {
      height: 250px;
      width: 100%;
      object-fit: cover;
      object-position: 30% 0;
      transition: transform 0.3s ease;
      
      &:hover {
        transform: scale(1.3);
      }
    }
  }

  &__name {
    @extend .font-md;
    font-weight: 600;
    text-align: center;
  }
}

.release {
  @extend .pbt;
  background-color: $cBgGray;

  &__header {
    @extend .content-width;
    //横線
    position: relative;
    overflow: hidden;

    & span {
      position: absolute;
      top: 35%;
      left: 180px;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    }
    //横線
  }

  &__inner {
    @extend .content-width;
    display: flex;
    flex-direction: column;
  }

  &__img {
    @extend .mb-sm;
    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-family: 'Yusei Magic', sans-serif;
    @extend .font-lg;
    font-weight: 600;
    color: #FF6928;
  }

  &__sub {
    @extend .font-lr;
    font-weight: 600;
    @extend .mb-sm;
  }

  &__description {
    @extend .mb-sm;

    & > p {
      margin: 0;

      &:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
}

.video {
  @extend .pbt;

  &__header {
    padding-top: 50px;
    @extend .content-width;
    @extend .mb-sm;
  }

  &__inner {
    @extend .content-width;
    display: flex;
    justify-content: center;
  }

  &__youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}